!!! 5
%head
  %title 姓名判断
  %meta{charset: "UTF-8"}
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no, width=device-width"}
  %link{href: "css/bootstrap.min.css", rel: "stylesheet"}
%body
  .container
    .hero-unit
      %h1 姓名判断
      %hr
      %form.form-horizontal{action: '#'}
        .control-group
          %label.control-label{for: 'last-name'} 姓
          .controls
            %input{type: 'text', id: 'last-name', placeholder: '姓'}
        .control-group
          %label.control-label{for: 'first-name'} 名
          .controls
            %input{type: 'text', id: 'first-name', placeholder: '名'}
        .control-group
          .controls
            %button{type: 'submit', class: 'btn'} 検索
    .row
      .span4
        %p aaaa
      .span4
        %p aaaa
      .span4
        %p aaaa

  %script{src: "http://code.jquery.com/jquery-1.8.1.min.js"}
  %script{src: "js/bootstrap.min.js"}